<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<h1 class="text-center">Articles</h1>
<div class="container">
	<ul >
		<li data-ng-repeat="article in articles">
			<div id="articlesListOne">
				<div class="panel panel-primary">
				  <div class="panel-heading">
				    <h3 class="panel-title header"><small>Title:</small><a class="label label-info" data-ng-href="#!/articles/{{article._id}}" data-ng-bind="article.title"></a></h3>
						<small>发表日期：</small><small data-ng-bind="article.create | date:'medium'"></small>
						<!-- <small>/</small> -->
						<small>作者：</small>
						<small data-ng-bind="article.creator.fullName"></small>
					</div>
				  <div class="panel-body">
						<small>内容：</small><p data-ng-bind="article.content"></p>
				  </div>
				</div>
			</div>

		</li>
	</ul>
	<div class="alert alert-danger" data-ng-hide="!articles || articles.length">
		No articles yet, wht don't you <a href="/#!/articles/create">create one</a>?
	</div>
</div>

</section>
