<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/index.css">

</head>
<body ng-app="mean">
	<div class="container">
<div class="jumbotron">
	<div class="container">
		<h1 class="text-center">Hello,Welcome to My WebSite!<img src="/images/ac-bitmap.png" alt="Hello!" class="img-rounded"></h1>
<button type="button" class="btn btn-primary btn-lg"> 首页</button>
	</div>
</div>
<div class="row" ng-controller="ExampleController">
		<div class="col-md-2 bg-info" data-ng-show="authentication.user">
			<ul class="nav nav-pills nav-stacked" id="navBar">
				<li><a role="presentation" href="/#!/">Home</a></li>
				<li><a role="presentation" href="/#!/chat">Chat</a></li>
				<li><a role="presentation" href="/#!/articles">List Articles</a></li>
				<li><a role="presentation" href="/#!/articles/create">Create Articles</a></li>
			</ul>
		</div>
		<div class="col-md-10 ">
		<div class="bg-info" id="mainPage">
				<section ng-view></section>
		</div>
		</div>
</div>
</div>

	<script type="text/javascript">
	window.user = <%- user || 'null' %>;
	</script>
	<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js" charset="utf-8"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js" charset="utf-8"></script>
	<script src="//cdn.bootcss.com/socket.io/1.1.0/socket.io.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="//cdn.bootcss.com/angular.js/1.2.28/angular.min.js"></script>
	<script src="http://apps.bdimg.com/libs/angular.js/1.2.9/angular-route.min.js" type="text/javascript"></script>
	<script src="http://apps.bdimg.com/libs/angular.js/1.2.9/angular-resource.min.js" type="text/javascript"></script>

	<script src="/articles/articles.client.module.js" type="text/javascript"></script>
	<script src="/articles/controllers/articles.client.controller.js" type="text/javascript"></script>
	<script src="/articles/services/articles.client.services.js" type="text/javascript"></script>
	<script src="/articles/config/articles.client.routes.js" type="text/javascript"></script>

	<script src="/example/example.client.module.js" type="text/javascript"></script>
	<script src="/users/users.client.module.js" type="text/javascript"></script>
	<script src="/users/services/authentication.client.service.js" type="text/javascript"></script>
	<script src="/example/controllers/example.client.controller.js" type="text/javascript"></script>
	<script src="/example/config/example.client.routes.js" type="text/javascript"></script>

	<script src="/chat/chat.client.module.js" type="text/javascript" charset="utf-8"></script>
	<script src="/chat/services/socket.client.service.js" type="text/javascript" charset="utf-8"></script>
	<script src="/chat/controllers/chat.client.controller.js" type="text/javascript" charset="utf-8"></script>
	<script src="/chat/config/chat.client.routes.js" type="text/javascript" charset="utf-8"></script>
	<!--bootsrap angularjs application-->
	<script type="text/javascript" src="/application.js"></script>
</body>
</html>
